body:after {
    display: none;
}

main {
    padding: 0 20px;
    margin-top: 40px;
    padding-bottom: 70px;
}

main:after {
    content: '';
    display: table;
    clear: both;
}

main h2 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

main .pages {
    display: none;
}

main .pages:after {
    display: table;
    content: '';
    clear: both;
}

main .pages.activated {
    display: block;
}

main form {
    margin-top: 45px;
}

main form label {
    /* display: inline-block; */
    float: left;
    clear: both;
    margin-bottom: 30px;
    margin-top: 6px;
}

main form input[type="text"], main select, main input[type="date"] {
    float: right;
    width: 70%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #aaa;
    color: inherit;
}

main form #file {
    float: right;
    width: 70%;
    overflow: hidden;
}

main form input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

main form input[type="file"]:before {
    content: 'Upload a photo';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    background: #888;
    /* border: 1px solid #999; */
    border-radius: 3px;
    padding: 8px 18px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    color: #fff;
    /* font-weight: 700; */
    font-size: 10pt;
    font-family: 'Quicksand';
}

main form input[type="file"]:hover:before {
    border-color: #fff;
}

main form input[type="file"]:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

main form select {
    padding-left: 10px;
    outline: none;
}

main form select::-ms-expand {
    display: none;
  }

main form select option {
    display: block;
    height: 30px;
}

main form #photoBox {
    clear: both;
    width: 70%;
    padding-bottom: calc(70%);
    text-align: center;
    border: 1px dashed grey;
    float: right;
    position: relative;
}

main form #photoBox:before {
    content: attr(data-message);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

main form a {
    margin-top: 20px;
    clear: both;
    width: 50%;
    float: left;
    margin-left: 30%;
    background-color: #888;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#stepWizard nav {
    position: relative;
    width: 96%;
    margin-left: 3%;
    border-bottom: 1px solid #666;
    margin-top: 15px;
}

#stepWizard nav:after {
    display: table;
    content: '';
    clear: both;
}

#stepWizard nav a {
    float: left;
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
}

#stepWizard span {
    font-size: 12px;
    margin-top: 8px;
    display: inline-block;
    color: #bbb;
}

#stepWizard nav a:first-child:before {
    border-color: #bbb;
}

#stepWizard nav a:first-child.activated span {
    color: #666;
}

#stepWizard nav a:first-child.activated:before {
    background-color: #0058ab;
    border-color: #0058ab;
}

#stepWizard nav a:nth-child(2).activated span {
    color: #666;
}

#stepWizard nav a:nth-child(2).activated:before {
    background-color: #0058ab;
    border-color: #0058ab;
}

#stepWizard nav a:nth-child(3).activated:before {
    background-color: #0058ab;
    border-color: #0058ab;
}

#stepWizard nav a:nth-child(3).activated span {
    color: #666;
}


#stepWizard nav a:first-child span {
    margin-left: -9px;
}

#stepWizard nav a:nth-child(2) {
    margin-lefT: calc(47% - 15px);
}

#stepWizard nav a:nth-child(2):before {
    border-color: #bbb;
}

#stepWizard nav a:nth-child(2) span {
    margin-left: -16px;
}

#stepWizard nav a:nth-child(3) {
    margin-left: calc(47% - 15px);
}

#stepWizard nav a:nth-child(3):before {
    border-color: #bbb;
}

#stepWizard nav a:nth-child(3) span {
    margin-left: -16px;
}

#stepWizard nav a:before {
    display: block;
    content: '';
    height: 15px;
    width: 15px;;
    border-radius: 50%;
    border: 2px solid #666;
    background-color: #fff;
    margin-top: 5px;
}

#page4 {
    height: 200px;
    margin-top: 100px;
    text-align: center;
}

#page4 div {
    font-size: 20px;
    color: #5aa218;
    font-weight: 700;
    margin-top: 10px;
}

#page4 div:first-child {
    font-size: 30px;
}