body:after {
    display: none;
}

main {
    padding: 0 20px;
    margin-top: 20px;
    padding-bottom: 60px;
}

main .pages {
    display: none;
}

main .pages:after {
    display: table;
    content: '';
    clear: both;
}

main .pages.activated {
    display: block;
}

/* main:after {
    content: '';
    display: table;
    clear: both;
} */

main h2 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

main ul {
    margin-top: 55px;
}

main li {
    display: block;
    position: relative;
}

main li:first-child {
    margin-bottom: 30px;
}

main li:before {
    position: absolute;
    content: attr(data-index);
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0, 00.7);
    border-radius: 50%;
    color: #fff;color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

main li:after {
    content: '';
    display: table;
    clear: both;
}

main li > a {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
}

main li:first-child img {
    height: 140%;
    margin-top: -30px;
}

main li:nth-child(2) img {
    height: 100%;
    margin-left: -100px;
} 

main li div {
    float: left;
    margin-left: 10px;
    width: calc(100% - 110px);
}

main li div > span:first-child {
    float: right;
    font-size: 18px;
}

main li div > a {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

main li div > a + span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

main li div figure {
    color: #0058ab;
    font-weight: 700;
    background-color: #fbd914;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 110px;
}

#total {
    float: right;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    padding: 10px  0 0 20px;
    text-align: right;
    font-size: 18px;
}

#address {
    clear: both;
    margin-top: 70px;
    padding: 20px;
    background: #ddd;
    padding-bottom: 80px;
    color: #222;
    cursor: pointer;
}

#address p {
    margin-bottom: 10px;
}

#address h3 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

#address h3 span {
    color: #999;
    font-size: 12px;
}

/* #address p:first-of-type {
    margin-bottom: 5px;
} */

#address a {
    margin-top: 20px;
    clear: both;
    width: 50%;
    float: left;
    background-color: #888;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#stepWizard nav {
    position: relative;
    width: 96%;
    margin-left: 3%;
    border-bottom: 1px solid #666;
    margin-top: 15px;
}

#stepWizard nav:after {
    display: table;
    content: '';
    clear: both;
}

#stepWizard nav a {
    float: left;
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
}

#stepWizard span {
    font-size: 12px;
    margin-top: 8px;
    display: inline-block;
    color: #bbb;
}

#stepWizard nav a:first-child:before {
    border-color: #bbb;
}

#stepWizard nav a:first-child.activated span {
    color: #666;
}

#stepWizard nav a:first-child.activated:before {
    background-color: #0058ab;
    border-color: #0058ab;
}

#stepWizard nav a:nth-child(2).activated span {
    color: #666;
}

#stepWizard nav a:nth-child(2).activated:before {
    background-color: #0058ab;
    border-color: #0058ab;
}

#stepWizard nav a:nth-child(3).activated:before {
    background-color: #0058ab;
    border-color: #0058ab;
}

#stepWizard nav a:nth-child(3).activated span {
    color: #666;
}


#stepWizard nav a:first-child span {
    margin-left: -9px;
}

#stepWizard nav a:nth-child(2) {
    margin-lefT: calc(47% - 15px);
}

#stepWizard nav a:nth-child(2):before {
    border-color: #bbb;
}

#stepWizard nav a:nth-child(2) span {
    margin-left: -16px;
}

#stepWizard nav a:nth-child(3) {
    margin-left: calc(47% - 15px);
}

#stepWizard nav a:nth-child(3):before {
    border-color: #bbb;
}

#stepWizard nav a:nth-child(3) span {
    margin-left: -16px;
}

#stepWizard nav a:before {
    display: block;
    content: '';
    height: 15px;
    width: 15px;;
    border-radius: 50%;
    border: 2px solid #666;
    background-color: #fff;
    margin-top: 5px;
}

#page4 {
    height: 200px;
    margin-top: 100px;
    text-align: center;
}

#page4 div {
    font-size: 20px;
    color: #5aa218;
    font-weight: 700;
    margin-top: 10px;
}

#page4 div:first-child {
    font-size: 30px;
}