body {
    background-color: #e5e5e5;
    padding-bottom: 100px;
}

body:after {
    content: '';
    display: table;
    clear: both;
}

.mobileFrame {
    float: left;
    width: calc(1170px * 0.3);
    height: calc(2532px * 0.3);
    background-color: #fff;
    margin: 100px 0 0 100px;
    border-radius: 30px;
}

iframe {
    width: 100%;
    height: 100%;
}